<div *ngIf="book">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h3>{{book.name}}</h3>
            </div>
        </div>
        <div class="row">
            <br>
            <div class="col-md-4">
                <div class="text-center">
                    <img src="https://picsum.photos/400/500/?random" class="img-fluid">
                </div>
            </div>
            <div class="col-md-8">
                <div class="price">
                    <p>{{book.price.currency}}{{book.price.amount}}</p>
                </div>
                <mat-form-field>
                    <input matInput [(ngModel)]="count" placeholder="Count" value="1" min="1" step="1" type="number" class="example-right-align">
                </mat-form-field>
                <span>&nbsp;&nbsp;&nbsp;</span>
                <span>Available in stock <b>{{book.availableStock}}</b></span>
                <br>
                <button mat-raised-button color="primary" (click)="addToCart()">Add to cart</button>
                <br>
                <br>
                <dl>
                    <dt>Publicher</dt>
                    <dd>{{book.publisher.name}}}</dd>
                    <dt>Address</dt>
                    <dd>
                        <address>
                            {{book.publisher.address.street}} St, Suite {{book.publisher.address.house}}<br>
                            {{book.publisher.address.city}}, CA {{book.publisher.address.zipcode}}<br>
                        </address>    
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>